html {
    height: 100%;
    width: 100%;

}

body {
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: center;
    height: 99%;
    width: 99%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    line-height: inherit;
}

.leftSide {
    background-color: white;

}

.rightSide {
    background-color: white;
}

img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    position: relative;
    left: 20%;
    margin: 10%;
}.nom {
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1%;
    margin-bottom: 20%;
    font-size: 2em;
}

pre.BUT {
    background-color: aquamarine;
    padding: 5%;
}

.titre {
}

.text {
}

.text2 {

}

.text2g {

}

.text2b {

}

* {
    font-family: sans-serif;
    list-style: none;
    list-style-position: outside;


}

pre {
    margin: 0;
    padding: 0;
}

.icon {
color: rgb(25, 94, 71);
}

pre .box {
    position: relative;
    left: 4.5%;
    width: 40px;
    height: inherit;
    background: #278ebe;
}

pre .box .percent {
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
    background: aquamarine;
}

div.box {
    padding: 3%;
}

.FORMATIONS {
    margin-top: 0;
    padding-top: 6.5%;
}