html {
    height: 100%;
    width: 100%;

}

body {
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: center;
    height: 99%;
    width: 99%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.leftSide {
    background-color: white;

}

.rightSide {
    background-color: white;
}

img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    position: relative;
    left: 20%;
    margin: 10%;
}

.leftSide ul {
    margin: 5;
    margin-left: 0;
    margin-right: 5;
    padding: 50;
}

.rightSide ul {
    margin: 5;
    margin-left: 5;
    margin-right: 2;
    padding: 100;

}

ul.BUT {
    background-color: aquamarine;
    padding: 5%;
}

.titre {
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1%;
    margin-bottom: 20%;
    font-size: 1.6em;
}

.nom {
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1%;
    margin-bottom: 20%;
    font-size: 2em;
}

.text {
    color: black;
    letter-spacing: 1%;
    margin-bottom: 5%;
    font-size: 1.15em;
    margin-left: 0;

}

.text2 {
    color: black;
    letter-spacing: 1%;
    margin-bottom: 5%;
    font-size: 1.3em;
    margin-left: 0;
    text-transform: uppercase;
}

.text2g {
    color: gray;
    letter-spacing: 1%;
    margin-bottom: 5%;
    font-size: 1.3em;
    margin-left: 0;
    text-transform: uppercase;
}

.text2b {
    color: black;
    letter-spacing: 1%;
    margin-bottom: 5%;
    font-size: 1.3em;
    margin-left: 0;
    text-transform: uppercase;
    font-weight: 600;
}

.over {
    position: relative;
    right: 53.3%;
    color: black;
    letter-spacing: 1%;
    margin-bottom: 5%;
    font-size: 1.3em;
    margin-left: 0;
}

* {
    font-family: sans-serif;
    list-style: none;
    list-style-position: outside;

}

ul {
    margin: 5%;
    padding: 3%;

}

.ul2 {
    margin: 4%;
}

li {
    padding: 1.5%;
}

.icon {}

.PASSR-TEMPS {
    letter-spacing: 5px;

}

.contenu {
    margin: 0;
    padding: 3%;
}

.box .percent {
    position: relative;
    left: 34.5%;
    bottom: 5%;
    width: 60%;
    height: 16px;
    background: #081921;
    margin-top: 5px;
    padding: 50;
}

.box .percent div {
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
    background: aquamarine;
    padding: 50;

}

div.box {
    padding: 3%;
}

.FORMATIONS {
    margin-top: 0;
    padding-top: 6.5%;
}